<header>
  <app-cabecera></app-cabecera>
</header>
<div class="container">
  <div class="alert alert-warning" role="alert">
  <div class="row mt-3">
  <div class="col md-3">
<img src="https://mibebeyyo.elmundo.es/images/herramientas/su-crecimiento/article_images/0_dias-mobile.webp" width="200" height="250" class="img-fluid" alt="BABYS">
</div>
<div class="col md-3">
  <h3 class="text-center text-danger">Bebes nacidos en nuestro querido Ecuador que seran el futuro de la patria</h3>
</div>
</div>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>
